#navPicto{
border:0;
width:auto;

}
#navPicto table, #navPicto tbody{border: 0;}


#navPicto td{
border:0;

width:auto;
display:block;
float:left;
padding:0.2em;
}

#navPicto a {border:0;font-family: $AristaFont;
text-align: center;color:#E2007A;font-size: 2.1em;text-decoration: none;}
#navPicto a:hover{color: #5F5F6F;}