// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE LYCEE                     |
|--------------------------------------*/

//@include at-breakpoint ($mobile){}
//@include at-breakpoint ($desktop){}
//@include at-breakpoint ($tablet){}

#col1.page-lycee{
    @include at-breakpoint ($desktop){
        border-right: em(1px) solid #DA5714;
    }
    
}
.page-lycee > div.content{ 
    > p{font-size: small;}
    ul > li{font-size: small;}
}

.lycee-coordlogo{
    //ajouter la classe via block class
    p >  a{
        color: #d63e2a;
        text-decoration:none;
        &:hover{
        text-decoration:underline;
    }
    }
    
    p{font-size: small;}
    h2#logo_lpp{color: #EA703F;padding: em(2px);text-align: left;}
}


.lycee-formation{//ajouter la classe via block class
                      .table-formation, #table-acces{
                          width: 98%;
                          border: 0;
                          text-align:right;
                          margin: em(2px);
                          border-collapse: inherit;
                      }
                      .table-formation .diplome, #table-acces tr.transport{
                          text-transform: capitalize;
                          color: black;
                          font-weight: bold;
                          border-bottom: em(1px) dotted gray;
                          text-align:left;

                      }
                      .table-formation td{padding: 0;}
                      .transport-detail{}
                      .views-field-diplome a{
                          color: gray;
                          text-decoration: none;
                          font-size: smaller;
                          font-weight: 100;
                      }
                      .views-field-diplome a:hover{
                          text-decoration: underline;
                      }
                      caption{
                          color:black;
                          font-weight:bold;
                          text-align:left;
                          text-transform:uppercase;
                          font-size: small;
                          margin: 0 0 0 0.5em;
                      }


}

.lycee-illus-plan
{//ajouter la classe via block class
 table{
     @include at-breakpoint ($desktop){
         margin: 0 0 0 0.2em;
     }
 }
 tbody{border: 0;}                  
 img{border: em(2px) solid #E85231;padding: em(1px);}
 iframe{border: em(2px) solid #00AAD2;padding: em(1px);}
}
.page-lycee{
    span.diapo-lycee {

        
        img{@include adaptable-img;
            border: em(2px) solid #E85231;padding: em(1px);
            margin: 0.2em 0 0 0.2em;
        
        @include at-breakpoint ($desktop){
            margin: 1.1em 0 0 0.2em;
        }
        }
    }

    span.gmap-lycee{
        iframe{border: em(2px) solid #00AAD2;padding: em(1px);
        @include at-breakpoint ($desktop){
            margin: 1.1em 0 0 0.2em;
        }
        
        }
    } 
}
